body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Open Sans', sans-serif;
  background-image: url(../backgroundImage.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
}
